/*banner----------------------------------*/
.banner{
	width: 100%;
	height: 100%;
	background: url('../image/banner.jpg') center center no-repeat;
}
.banner .mask{
	width: 100%;
	height: 100%;
	background: url('../image/logo2.png') center center/50% auto no-repeat;
	background-color: rgba(60,60,60,.5);
}
/*content----------------------------------*/
.content{
	width: 100%;
}
.content .brand-box{
	width: 100%;
	height: 1100px;
	background: url("../image/brand.png") bottom center/100% auto no-repeat;
}
.content .brand-box .brand-icon-one{
	width: 100%;
	height: 300px;
	background: url("../image/brand-icon.png") center center no-repeat;
}
.content .brand-box .brand-icon-two{
	width: 100%;
	height: 300px;
	margin-top: 300px;
	background: url("../image/product-icon.png") center center no-repeat;
}
.content .brand-box .icon-bg-list{
	display: flex;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
}
.content .brand-box .icon-bg-list .icon-item{
	flex: 1;
}
.content .brand-box .icon-bg-list .icon-item i{
	display: block;
	width: 100%;
	height: 150px;
}
.content .brand-box .icon-bg-list .icon-item:nth-child(1) i{
	background: url(../image/love.png) center no-repeat;
}
.content .brand-box .icon-bg-list .icon-item:nth-child(2) i{
	background: url(../image/team.png) center no-repeat;
}
.content .brand-box .icon-bg-list .icon-item:nth-child(3) i{
	background: url(../image/global.png) center no-repeat;
}
.content .brand-box .icon-bg-list .icon-item:nth-child(4) i{
	background: url(../image/safe.png) center no-repeat;
}
.content .brand-box .icon-bg-list .icon-item p{
	line-height: 30px;
	font-size: 12px;
}
.content .brand-box .icon-bg-list .icon-item h3{
	font-size: 20px;
}

.content .list-box{
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}
.content .list-box .list-item{
	position: relative;
	overflow: hidden;
}
.content .list-box .list-item>div{
	background-color: #fff;
	float: left;
	width: 50%;
}
.content .list-box .list-item img{
	width: 100%;
}
.content .list-box .list-item .list-item-left{
	position: relative;
	width: 100%;

}
.content .list-box .list-item .list-item-left .bg-text{
	width: 300px;
	height: 80px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.content .list-box .list-item .list-item-left .bg-text h3{
	color: #fff;
	font-size: 32px;
}
.content .list-box .list-item .list-item-left .bg-text p{
	margin-top: 10px;
	color: #fff;
	font-size: 26px;
	letter-spacing: 10px;
}

.content .list-box .list-item .list-item-right{
	transition:all 1s;
}
.content .list-box .list-item:nth-child(even) .list-item-right{
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100%;
	transform: translatex(-40%);
	top: 0px;
	right: 0px;
}

.content .list-box .list-item:nth-child(odd) .list-item-right{
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100%;
	transform: translatex(40%);
	top: 0px;
	right: 0px;
}
.content .list-box .list-item:nth-child(even) .list-item-right img{
	position: absolute;
	width: 800px;
	height: 400px;
	top: 50%;
	right: 0px;
	margin-top: -200px;
	transform: translatex(30%);
}
.content .list-box .list-item:nth-child(odd) .list-item-right img{
	position: absolute;
	height: 400px;
	width: 800px;
	top: 50%;
	left: 0px;
	margin-top: -200px;
	transform: translatex(-30%);
}

/*交互效果*/
.content .list-box .list-item:nth-child(odd):hover .list-item-right{
	transform: translatex(150%);
}
.content .list-box .list-item:nth-child(odd) .list-item-right:hover{
	transform: translatex(30%);
}
.content .list-box .list-item:nth-child(even):hover .list-item-right{
	transform: translatex(-140%);
}
.content .list-box .list-item:nth-child(even) .list-item-right:hover{
	transform: translatex(-30%);
}

/*copy----------------------------------*/
.copy{
	height: 60px;
	background-color: #4B3939;
}
.copy .w{
	display: flex;
	margin: 0 auto;
}
.copy .w p{
	color: #ededed;
	flex:1;
	text-align: center;
	line-height: 60px;
	font-size: 14px;
}
